/* ---------- _imageModal.sass ---------- */
.ImageModal
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: $primary-modal-background
  padding: $padding-large
  overflow: scroll
  display: block

.ImageModal__Close
  padding: 15px
  cursor: pointer
  text-align: right
  color: $primary-text
  font-weight: bold
  float: right
  margin-bottom: $padding-medium

.ImageModal__Content
  clear: both

.ImageModal__Left
  display: inline-block
  width: 30%
  margin-right: 1%
  color: $primary-text
  vertical-align: top
  padding: $padding-medium
  border: 3px double $primary-border

.ImageModal__Right
  display: inline-block
  width: 66%
  text-align: center

.ImageModal__Image
  border: 1px solid $primary-border
  max-height: 100%
