/* ---------- _thumbnail.sass ---------- */
.Thumbnail
  padding: $padding-small
  text-align: center
  width: 30%
  height: $thumbnail-height
  border: thin solid black
  display: inline-block
  margin-right: 1%
  margin-bottom: 1%

.Thumbnail__Image
  height: $thumbnail-height - 50px

.Thumbnail__Title
  font-weight: bold
  margin-top: $padding-small
