/* ---------- _modal.scss ---------- */
.Modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $primary-modal-background;
  padding: $padding-large;
  overflow: scroll;
  display: block;
  color: $primary-text;
}

.Modal__Options {
  position: fixed;
  right: 0;
  cursor: pointer;
  text-align: right;
  color: $primary-text;
  font-weight: bold;

  &-Edit {
    display: inline-block;
    margin-right: 20px;
    padding: 10px
  }

  &-Close {
    display: inline-block;
    margin-right: 20px;
    padding: 10px
  }
}

.Modal__Content {
  margin-top: $padding-large;
}
