/* ---------- _modal.scss ---------- */
.Modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $primary-modal-background;
  padding: $padding-large;
  overflow: scroll;
  display: block;
  color: $primary-text;
}

.Modal__Close {
  position: fixed;
  right: 0;
  padding: 15px;
  cursor: pointer;
  text-align: right;
  color: $primary-text;
  font-weight: bold;
}

.Modal__Content {
  margin-top: $padding-large;
}
