/* ---------- _thumbnail.scss ---------- */
.Thumbnail {
  padding: $padding-small;
  text-align: center;
  width: 32.6%;
  height: $thumbnail-height;
  border: thin solid black;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;

  @media screen and (max-width: 870px) {
    width: 49%;
  }

  @media screen and (max-width: 775px) {
    width: 100%;
    margin-right: 0;
  }
}

.Thumbnail:last-child {
  margin-right: 0;
}

.Thumbnail__Image {
  height: $thumbnail-height - 50px;
}

.Thumbnail__Title {
  font-weight: bold;
  margin-top: $padding-small;
}
