/* ---------- _colors.scss ---------- */
$primary-background: #222222;
$primary-modal-background: rgba(34, 34, 34, 0.9);

$primary-text: #FFFFFF;
$secondary-text: #000000;

$primary-border: #FFFFFF;
$secondary-border: #000000;


/* ---------- _spacing.scss ---------- */
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 50px;


/* ---------- Component-specific variables ---------- */
$sidebar-width: 200px;
$thumbnail-height: 200px;


/* ---------- Border Radius ---------- */
$border-radius-round: 100px;
